/.cache/
/.vscode/
/.pybuild/
/debian/apt-repos.debhelper.log
/debian/apt-repos.substvars
/debian/apt-repos/
/debian/debhelper-build-stamp
/debian/files
/debian/python3-apt-repos.debhelper.log
/debian/python3-apt-repos.postinst.debhelper
/debian/python3-apt-repos.prerm.debhelper
/debian/python3-apt-repos.substvars
/debian/python3-apt-repos/
/debian/tmp/
/debian/.debhelper/
/deb/
/docker-buildenv/.buildenv.built
/docker-buildenv/debian_control

# automatically built by debian-packaging:
/conf/debian.suites
/conf/ubuntu.suites
/README.html
